# Bayesian Cross Sectional Models

This notebook investigates the fit and parameter estimates of Bayesian models. We test the following:
- Univariate models
- Multivariate models

For both, we try the following three distributions
- Pareto
- Weibull
- Generalised Pareto

### Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymc as pm
import arviz as az

WARNING (pytensor.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
# Self made modules
from thesis_tools.utils.data import *
from thesis_tools.statistical_tests.tests import *
from thesis_tools.models.bayesian_univariate_cross_sectional import *
from thesis_tools.models.bayesian_multivariate_cross_sectional import *

## Univariate

### Estimation

In [5]:
df = read_panel_data(observations_threshold=20)

In [6]:
df

,group,year,gdp_pc,CAC40,DAX,FTSE100,MOEX,MSCI,NIFTY,OMX40,...,log_change_CAC40,log_change_DAX,log_change_FTSE100,log_change_MOEX,log_change_MSCI,log_change_NIFTY,log_change_OMX40,log_change_SPX,log_change_SSE,constant
0,Alps,2013,68773.069994,3732.600098,7776.049805,6276.88,NaN,1416.800049,6034.750000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Alps,2014,70059.493969,4165.720215,9306.480469,6510.44,1454.050049,1598.500000,6089.500000,NaN,...,0.109784,0.179663,0.036534,NaN,0.120665,0.009032,NaN,0.173863,-0.159823,1
2,Alps,2015,63807.216418,4604.250000,10694.320313,6749.40,1647.689941,1677.500000,8808.900391,1506.40,...,0.100091,0.139002,0.036047,0.125021,0.048239,0.369197,NaN,0.112572,0.456831,1
3,Alps,2016,63585.313772,4417.020020,9798.110352,6083.79,1784.920044,1562.199951,7563.549805,1472.30,...,-0.041515,-0.087523,-0.103826,0.079999,-0.071210,-0.152422,-0.022897,-0.027827,-0.159302,1
4,Alps,2017,64747.256136,4748.899902,11535.309570,7099.15,2217.389893,1805.500000,8561.299805,1493.35,...,0.072448,0.163223,0.154347,0.216957,0.144743,0.123911,0.014196,0.160868,0.143226,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,U.S.,2018,62823.309438,5481.930176,13189.480469,7533.55,2289.989990,2171.500000,11027.700195,1594.35,...,0.143544,0.134007,0.059391,0.032217,0.184581,0.253158,0.065444,0.214407,0.096964,1
263,U.S.,2019,65120.394663,4992.720215,11173.099609,6968.85,2521.100098,2029.599976,10830.950195,1472.32,...,-0.093476,-0.165911,-0.077916,0.096148,-0.067579,-0.018003,-0.079627,-0.043318,-0.297712,1
264,U.S.,2020,63528.634303,5806.339844,12981.969727,7286.01,3076.649902,2342.399902,11962.099609,1706.09,...,0.150970,0.150052,0.044506,0.199146,0.143337,0.099335,0.147365,0.176325,0.141198,1
265,U.S.,2021,70219.472454,5399.209961,13432.870117,6407.46,3277.080078,2661.699951,13634.599609,1972.36,...,-0.072698,0.034143,-0.128493,0.063111,0.127789,0.130867,0.145027,0.141080,0.157156,1
266,U.S.,2022,76329.582265,6999.200195,15471.200195,7464.37,3530.379883,3052.500000,17339.849609,2227.07,...,0.259543,0.141276,0.152678,0.074453,0.136996,0.240397,0.121456,0.195353,-0.035544,1

In [ ]:
pareto_model =