In [1]:
import numpy as np
import pandas as pd

In [2]:
from thesis_tools.utils.data import *

In [3]:
read_panel_data()

,group,level_1,year,gdp_pc,MSCI,SPX,net_worth,N_net_worth,log_change_gdp_pc,log_change_MSCI,log_change_SPX
0,Alps,2449,2007,55761.563858,1515.400024,1438.239990,"[8.8, 5.5, 4.3, 3.6, 3.5, 3.4, 3.0, 2.7, 2.4, ...",10,NaN,NaN,NaN
1,Alps,3131,2008,62809.830445,1486.400024,1378.550049,"[10.3, 6.0, 5.2, 4.9, 4.0, 3.7, 3.7, 3.6, 3.2,...",14,0.119027,-0.019322,-0.042388
2,Alps,3929,2009,59594.137968,838.799988,825.880005,"[8.2, 5.7, 4.2, 3.7, 3.0, 2.9, 2.7, 2.7, 2.6, ...",12,-0.052554,-0.572140,-0.512338
3,Alps,4602,2010,61400.490911,1119.500000,1073.869995,"[10.0, 6.1, 4.4, 4.3, 4.1, 3.9, 3.3, 3.1, 3.0,...",15,0.029861,0.288665,0.262575
4,Alps,5530,2011,70551.454356,1331.699951,1286.119995,"[10.0, 6.4, 5.0, 4.8, 4.5, 4.0, 3.2, 2.9, 2.9,...",14,0.138924,0.173574,0.180361
...,...,...,...,...,...,...,...,...,...,...,...
343,U.S.,17579,2019,65120.394663,2029.599976,2704.100098,"[131.0, 96.5, 82.5, 62.5, 62.3, 55.5, 50.8, 50...",607,0.035912,-0.067579,-0.043318
344,U.S.,19550,2020,63528.634303,2342.399902,3225.520020,"[113.0, 98.0, 67.5, 59.0, 54.7, 54.6, 54.4, 54...",615,-0.024747,0.143337,0.176325
345,U.S.,21499,2021,70219.472454,2661.699951,3714.239990,"[177.0, 151.0, 124.0, 97.0, 96.0, 93.0, 91.5, ...",724,0.100135,0.127789,0.141080
346,U.S.,24074,2022,76329.582265,3052.500000,4515.549805,"[219.0, 171.0, 129.0, 118.0, 111.0, 107.0, 106...",735,0.083435,0.136996,0.195353
347,U.S.,26557,2023,76329.582265,2820.699951,4076.600098,"[180.0, 114.0, 107.0, 106.0, 104.0, 94.5, 80.7...",735,0.000000,-0.078976,-0.102264