In [1]:
from thesis_tools.utils.data import *

In [2]:
df = read_stock_market_data()

/Users/philipphocker/Documents/GitHub/top_wealth_thesis/thesis_tools/utils/data.py:243: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_FTSE100['Date'] = pd.to_datetime(df_FTSE100['Date'])

In [3]:
df

,DAX,FTSE100,MOEX,MSCI,NIFTY,OMX40,SPX,SSE
Date,,,,,,,,
1972-01-31,NaN,NaN,NaN,113.400002,NaN,NaN,NaN,NaN
1972-02-29,NaN,NaN,NaN,117.900002,NaN,NaN,NaN,NaN
1972-03-31,NaN,NaN,NaN,118.300003,NaN,NaN,NaN,NaN
1972-04-30,NaN,NaN,NaN,119.699997,NaN,NaN,NaN,NaN
1972-05-31,NaN,NaN,NaN,122.099998,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-02-29,17678.189453,7630.02,NaN,3364.000000,21982.800781,2706.03,5096.270020,3015.170898
2024-03-31,18492.490234,7952.62,NaN,3436.800049,22326.900391,2756.94,5254.350098,3041.166992
2024-04-30,17932.169922,8144.13,NaN,3361.399902,22604.849609,2756.48,5035.689941,3104.824951
2024-05-31,18497.939453,8275.38,NaN,3445.199951,22530.699219,2861.91,5277.509766,3086.812988
2024-06-30,18608.160156,8262.75,NaN,3445.169922,23263.900391,2871.79,NaN,3091.199219

In [4]:
df_2 = read_panel_data()
df_2

/Users/philipphocker/Documents/GitHub/top_wealth_thesis/thesis_tools/utils/data.py:243: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_FTSE100['Date'] = pd.to_datetime(df_FTSE100['Date'])

,group,year,gdp_pc,DAX,FTSE100,MOEX,MSCI,NIFTY,OMX40,SPX,...,N_net_worth,log_change_gdp_pc,log_change_DAX,log_change_FTSE100,log_change_MOEX,log_change_MSCI,log_change_NIFTY,log_change_OMX40,log_change_SPX,log_change_SSE
0,Alps,2007,55761.563858,6789.109863,6203.09,NaN,1515.400024,NaN,NaN,1438.239990,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alps,2008,62809.830445,6851.750000,5879.78,NaN,1486.400024,5137.450195,NaN,1378.550049,...,14,0.119027,0.009184,-0.053528,NaN,-0.019322,NaN,NaN,-0.042388,0.453096
2,Alps,2009,59594.137968,4338.350098,4149.64,NaN,838.799988,2874.800049,NaN,825.880005,...,12,-0.052554,-0.457010,-0.348498,NaN,-0.572140,-0.580574,NaN,-0.512338,-0.789358
3,Alps,2010,61400.490911,5608.790039,5188.52,NaN,1119.500000,4882.049805,NaN,1073.869995,...,15,0.029861,0.256841,0.223427,NaN,0.288665,0.529582,NaN,0.262575,0.406572
4,Alps,2011,70551.454356,7077.479980,5862.94,NaN,1331.699951,5505.899902,NaN,1286.119995,...,14,0.138924,0.232583,0.122203,NaN,0.173574,0.120255,NaN,0.180361,-0.068746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,U.S.,2019,65120.394663,11173.099609,6968.85,2521.100098,2029.599976,10830.950195,1472.32,2704.100098,...,607,0.035912,-0.165911,-0.077916,0.096148,-0.067579,-0.018003,-0.079627,-0.043318,-0.297712
344,U.S.,2020,63528.634303,12981.969727,7286.01,3076.649902,2342.399902,11962.099609,1706.09,3225.520020,...,615,-0.024747,0.150052,0.044506,0.199146,0.143337,0.099335,0.147365,0.176325,0.141198
345,U.S.,2021,70219.472454,13432.870117,6407.46,3277.080078,2661.699951,13634.599609,1972.36,3714.239990,...,724,0.100135,0.034143,-0.128493,0.063111,0.127789,0.130867,0.145027,0.141080,0.157156
346,U.S.,2022,76329.582265,15471.200195,7464.37,3530.379883,3052.500000,17339.849609,2227.07,4515.549805,...,735,0.083435,0.141276,0.152678,0.074453,0.136996,0.240397,0.121456,0.195353,-0.035544
347,U.S.,2023,76329.582265,15128.269531,7771.70,NaN,2820.699951,17662.150391,2223.59,4076.600098,...,735,0.000000,-0.022415,0.040348,NaN,-0.078976,0.018417,-0.001564,-0.102264,-0.031971