In [1]:
from thesis_tools.utils.data import *

In [2]:
read_stock_market_data()

            Adj_Close_MSCI  Adj_Close_SPX
Date
1985-01-31      195.899994     179.630005
1985-02-28      197.800003     181.179993
1985-03-31      203.300003     180.660004
1985-04-30      201.500000     179.830002
1985-05-31      212.100006     189.550003
...                    ...            ...
2024-02-29     3364.000000    5096.270020
2024-03-31     3436.800049    5254.350098
2024-04-30     3361.399902    5035.689941
2024-05-31     3445.199951    5277.509766
2024-06-30     3445.169922            NaN

[474 rows x 2 columns]

DAX

FTSE100

MOEX

NIFTY

OMX40