In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../Data/regions/regions.csv')

In [3]:
df

    Unnamed: 0           citizenship     region subregion
0            1         United States  N-America        us
1            2               Germany         EU   germany
2            3          Saudi Arabia   Mid-East         0
3            4                Canada  N-America    canada
4            5                France         EU    france
..         ...                   ...        ...       ...
80          81              Zimbabwe        ROW       ROW
81          82               Hungary         EU         0
82          83               Czechia         EU         .
83          84  Eswatini (Swaziland)        ROW         .
84          85                 Macao      China     china

[85 rows x 4 columns]

In [6]:
# For each region, make a list of the countries in that region
regions = df['region'].unique()
sub_regions = df['subregion'].unique()
countries_per_region = {}
for region in regions:
    countries_per_region[region] = df[df['region'] == region]['citizenship'].values


countries_per_subregion = {}
for subregion in sub_regions:
    countries_per_subregion[subregion] = df[df['subregion'] == subregion]['citizenship'].values

In [7]:
countries_per_region

{'N-America': array(['United States', 'Canada'], dtype=object),
 'EU': array(['Germany', 'France', 'Sweden', 'Switzerland', 'Italy', 'Spain',
        'United Kingdom', 'Greece', 'Netherlands', 'Denmark', 'Ireland',
        'Portugal', 'Norway', 'Liechtenstein', 'Belgium', 'Egypt',
        'Austria', 'Iceland', 'Poland', 'Monaco', 'Czech Republic',
        'Cyprus', 'Romania', 'Serbia', 'Finland', 'Guernsey', 'Lithuania',
        'Slovakia', 'Hungary', 'Czechia'], dtype=object),
 'Mid-East': array(['Saudi Arabia', 'Kuwait', 'Israel', 'Turkey', 'Lebanon', 'UAE',
        'United Arab Emirates', 'Oman', 'Qatar'], dtype=object),
 'China': array(['Hong Kong', 'China', 'Macau', 'Macao'], dtype=object),
 'S-America': array(['Mexico', 'Venezuela', 'Brazil', 'Bermuda', 'Argentina',
        'Colombia', 'Chile', 'Belize', 'Peru', 'Guatemala'], dtype=object),
 'E-Asia': array(['Japan', 'Taiwan', 'Malaysia', 'Singapore', 'Australia',
        'Indonesia', 'South Korea', 'Philippines', 'Thailand', 'Vietnam'],
       dtype=object),
 'India': array(['India'], dtype=object),
 'ROW': array(['South Africa', 'New Zealand', 'Nigeria', 'Pakistan', nan,
        'Morocco', 'St. Kitts and Nevis', 'Swaziland', 'Angola', 'Nepal',
        'Algeria', 'Uganda', 'Tanzania', 'Zimbabwe',
        'Eswatini (Swaziland)'], dtype=object),
 'C-Eurasia': array(['Russia', 'Ukraine', 'Kazakhstan', 'Georgia'], dtype=object)}

In [8]:
countries_per_subregion

{'us': array(['United States'], dtype=object),
 'germany': array(['Germany'], dtype=object),
 '0': array(['Saudi Arabia', 'Mexico', 'Spain', 'Kuwait', 'Venezuela', 'Greece',
        'Netherlands', 'Lebanon', 'Bermuda', 'Portugal', 'UAE',
        'Argentina', 'Colombia', 'Chile', 'Egypt', 'New Zealand',
        'United Arab Emirates', 'Ukraine', 'Iceland', 'Kazakhstan',
        'Poland', 'Czech Republic', 'Cyprus', 'Oman', 'Romania', 'Serbia',
        'Belize', nan, 'Georgia', 'Peru', 'Guernsey', 'Vietnam',
        'Lithuania', 'Guatemala', 'Qatar', 'Slovakia', 'Hungary'],
       dtype=object),
 'canada': array(['Canada'], dtype=object),
 'france': array(['France', 'Monaco'], dtype=object),
 'scanavia': array(['Sweden', 'Denmark', 'Norway', 'Finland'], dtype=object),
 'china': array(['Hong Kong', 'China', 'Macau', 'Macao'], dtype=object),
 'alp-count': array(['Switzerland', 'Liechtenstein', 'Belgium', 'Austria'], dtype=object),
 'italy': array(['Italy'], dtype=object),
 'japan': array(['Japan'], dtype=object),
 'india': array(['India'], dtype=object),
 'brit-isl': array(['United Kingdom', 'Ireland'], dtype=object),
 'ROW': array(['South Africa', 'Nigeria', 'Pakistan', 'Morocco',
        'St. Kitts and Nevis', 'Swaziland', 'Angola', 'Nepal', 'Algeria',
        'Uganda', 'Tanzania', 'Zimbabwe'], dtype=object),
 'asia-isl': array(['Taiwan', 'Indonesia', 'Philippines'], dtype=object),
 'isr-turky': array(['Israel', 'Turkey'], dtype=object),
 'se-asia': array(['Malaysia', 'Singapore', 'Thailand'], dtype=object),
 'brazil': array(['Brazil'], dtype=object),
 'australia': array(['Australia'], dtype=object),
 'russia': array(['Russia'], dtype=object),
 's-korea': array(['South Korea'], dtype=object),
 '.': array(['Czechia', 'Eswatini (Swaziland)'], dtype=object)}